@charset "utf-8";

/* 
 * sizes and positions
 */
a.datepicker-button {
	cursor: pointer;
}
.datepicker-calendar {
	margin: 0 10px 10px 0;
	font-size: .9em;
	padding: 2px;
	position: absolute;
	/* width: 261px; */
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 50;
}
.datepicker-calendar .datepicker-month-wrap {
	margin: 0;
	padding-top: 1px;
	text-align: center;
	height: 30px;
}
.datepicker-calendar.bootstrap4 .datepicker-month-wrap > div {
	padding-top: 0;
}
.datepicker-calendar.bootstrap4 .datepicker-month-wrap .datepicker-month-prev,
.datepicker-calendar.bootstrap4 .datepicker-month-wrap .datepicker-month-next {
	padding-top: 2px;
}
.datepicker-calendar.bootstrap4 .datepicker-month-wrap i.fa-caret-left,
.datepicker-calendar.bootstrap4 .datepicker-month-wrap i.fa-caret-right {
	font-size: 1.3em;
}
.datepicker-calendar .datepicker-month-fast-prev.disabled,
.datepicker-calendar .datepicker-month-fast-next.disabled ,
.datepicker-calendar .datepicker-month-prev.disabled,
.datepicker-calendar .datepicker-month-next.disabled {
	border: none;
	cursor: default;
}
.datepicker-calendar .datepicker-month.disabled::after {
	content: '' !important;
}
.datepicker-calendar .datepicker-month-fast-prev,
.datepicker-calendar .datepicker-month-fast-next,
.datepicker-calendar .datepicker-month-prev,
.datepicker-calendar .datepicker-month-next {
	cursor: pointer;
	margin: 3px;
	width: 24px;
	height: 24px;
	padding-top: 3px;
}
.datepicker-calendar .datepicker-month-fast-prev {
	padding-right: 2px;
}
.datepicker-calendar .datepicker-month-fast-next {
	padding-left: 2px;
}
.datepicker-calendar .datepicker-month-fast-prev.enabled:hover,
.datepicker-calendar .datepicker-month-fast-prev.enabled:focus,
.datepicker-calendar .datepicker-month-fast-next.enabled:hover,
.datepicker-calendar .datepicker-month-fast-next.enabled:focus,
.datepicker-calendar .datepicker-month-prev.enabled:hover,
.datepicker-calendar .datepicker-month-prev.enabled:focus,
.datepicker-calendar .datepicker-month-next.enabled:hover,
.datepicker-calendar .datepicker-month-next.enabled:focus {
	margin-top: 2px;
	border: 1px solid #800;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker-calendar .datepicker-month {
	margin: 3px 56px 2px 56px;
	height: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	padding-top: 1px;
}
.datepicker-calendar .datepicker-month:not(.disabled) {
	cursor: pointer;
}
.datepicker-calendar:not(.use-fa-icons) .datepicker-month:after {
	font-family: 'Glyphicons Halflings';
	font-size: 0.6em;
	display: inline-block;
	content: "\e252";
}
.datepicker-calendar.use-fa-icons .datepicker-month:after {
	font-family: "Font Awesome 5 Free";
	font-size: 0.7em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	padding-left: 0.4em;
	content: "\f078";
}
.datepicker-calendar .datepicker-month:not(.disabled):hover,
.datepicker-calendar .datepicker-month:not(.disabled):focus {
	padding-top: 0;
	border: 1px solid #800;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.datepicker-calendar .datepicker-row {
	display: flex;
}
.datepicker-calendar .datepicker-time-view {
	height: 212px;
	overflow-y: scroll;
	font-size: 1.2em;
	margin-left: 0.5em;
	border-left: 1px solid #ccc;
}

.datepicker-calendar .datepicker-time-view li {
	padding: 0.5em 0.7em;
}

.datepicker-calendar table.datepicker-grid {
	width: 100%;
	font-size: 1.2em;
	text-align: center;
}
.datepicker-calendar table.datepicker-grid.rtl {
	direction: rtl;
}
.datepicker-calendar table.datepicker-grid:focus {
	outline: none;
}
.datepicker-calendar th,
.datepicker-calendar td{
	text-align: center;
	padding: 0;
}
.datepicker-calendar th abbr{
	border: none;
}
.datepicker-calendar .selectable {
	cursor: pointer;
}
.datepicker-calendar td {
	border: 1px solid #999;
}
.datepicker-calendar .unselectable {
	cursor: default;
}
.datepicker-calendar th,
.datepicker-calendar .day {
	height: 30px;
}
.datepicker-calendar .month {
	height: 60px;
}
.datepicker-calendar .year {
	height: 45px;
}
.datepicker-calendar .curTime,
.datepicker-calendar .curDay,
.datepicker-calendar .curMonth,
.datepicker-calendar .curYear {
	border: 1px solid #999;
}
.datepicker-calendar .empty {
	border: 1px solid #999;
	cursor: default;
}
.datepicker-calendar .offscreen {
	position: absolute;
	left: -200em;
	top: -100em;
}
.datepicker-overlay {
	background: #777;
    display: none;        
    position: fixed;   
    top: 0;                  
    right: 0;              
    bottom: 0;
    left: 0;
    opacity: 0.5;
	height: 100%;
	min-height: 100%;
	z-index: 40;
}
.datepicker-calendar button.datepicker-close {
	height: 30px;
	width: 100%;
	font-weight: bold;
	margin-top: 1px;
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/**************************** 
 * colors
 ***************************/

/**************************** 
 * default theme colors
 ***************************/
a.datepicker-button.default:hover,
a.datepicker-button.default:focus {
	background-color: #DDD;
}
.datepicker-calendar.default {
	background-color: #FFF;
}
.datepicker-calendar.default .datepicker-month-fast-prev.disabled,
.datepicker-calendar.default .datepicker-month-fast-next.disabled ,
.datepicker-calendar.default .datepicker-month-prev.disabled,
.datepicker-calendar.default .datepicker-month-next.disabled,
.datepicker-calendar.default .datepicker-month.disabled {
	color:  #999;
}
.datepicker-calendar.default .datepicker-month-fast-prev.enabled:hover,
.datepicker-calendar.default .datepicker-month-fast-prev.enabled:focus,
.datepicker-calendar.default .datepicker-month-fast-next.enabled:hover,
.datepicker-calendar.default .datepicker-month-fast-next.enabled:focus,
.datepicker-calendar.default .datepicker-month-prev.enabled:hover,
.datepicker-calendar.default .datepicker-month-prev.enabled:focus,
.datepicker-calendar.default .datepicker-month-next.enabled:hover,
.datepicker-calendar.default .datepicker-month-next.enabled:focus,
.datepicker-calendar.default .datepicker-month:not(.disabled):hover,
.datepicker-calendar.default .datepicker-month:not(.disabled):focus,
.datepicker-calendar.default button.datepicker-close:hover, 
.datepicker-calendar.default button.datepicker-close:focus {
	background-color: #EEE;
	border-color:  #999;
}
.datepicker-calendar.default table.datepicker-grid:focus {
	outline: 1px dotted #999;
}
.datepicker-calendar.default tr.datepicker-weekdays {
	border-top:  1px solid #999;
	border-bottom:  1px solid #999;
}
.datepicker-calendar.default th {
	background-color: #EEE;
	border:  none;
}
.datepicker-calendar.default td {
	border:  none;
	color: #000;
}
.datepicker-calendar.default .unselectable {
	color: #999;
}
.datepicker-calendar.default .curTime,
.datepicker-calendar.default .curDay,
.datepicker-calendar.default .curMonth,
.datepicker-calendar.default .curYear {
	background-color: #FFF0C4;
}
.datepicker-calendar.default .empty {
	border:  none;
	color: #CCC;
}
.datepicker-calendar.default .selectable:hover,
.datepicker-calendar.default .selectable.focus {
	background-color: #DDD;
}
.datepicker-calendar.default .empty:hover {
	background-color: #F9F9F9;
}
.datepicker-calendar.default button.datepicker-close {
	background-color: #DDD;
	border-color:  #999;
	color: #000;
}

/**************************** 
 * bootstrap theme colors
 ***************************/
a.datepicker-button.bootstrap:hover,
a.datepicker-button.bootstrap:focus {
	background-color: #DDD;
}
.datepicker-calendar.bootstrap {
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	min-width: 200px;
	font-size: .8em;
	background-clip: padding-box;
	background-color: #FFF;
	border-radius: 4px;
	line-height: 20px;
}
.datepicker-calendar.bootstrap.below {
	margin-top: 2px;
}
.datepicker-calendar.bootstrap.above {
	margin-top: -2px;
}
.datepicker-calendar.bootstrap:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 7px;
}
.datepicker-calendar.bootstrap:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
  left: 6px;
}
.datepicker-calendar.bootstrap.below:before {
  top: -7px;
}
.datepicker-calendar.bootstrap.below:after {
  top: -6px;
}
.datepicker-calendar.bootstrap.above:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.datepicker-calendar.bootstrap.above:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.datepicker-calendar.bootstrap .datepicker-month-fast-prev.disabled,
.datepicker-calendar.bootstrap .datepicker-month-fast-next.disabled ,
.datepicker-calendar.bootstrap .datepicker-month-prev.disabled,
.datepicker-calendar.bootstrap .datepicker-month-next.disabled
.datepicker-calendar.bootstrap .datepicker-month.disabled {
	color:  #999;
}
.datepicker-calendar.bootstrap .datepicker-month-fast-prev.enabled:hover,
.datepicker-calendar.bootstrap .datepicker-month-fast-prev.enabled:focus,
.datepicker-calendar.bootstrap .datepicker-month-fast-next.enabled:hover,
.datepicker-calendar.bootstrap .datepicker-month-fast-next.enabled:focus,
.datepicker-calendar.bootstrap .datepicker-month-prev.enabled:hover,
.datepicker-calendar.bootstrap .datepicker-month-prev.enabled:focus,
.datepicker-calendar.bootstrap .datepicker-month-next.enabled:hover,
.datepicker-calendar.bootstrap .datepicker-month-next.enabled:focus,
.datepicker-calendar.bootstrap .datepicker-month:not(.disabled):hover,
.datepicker-calendar.bootstrap .datepicker-month:not(.disabled):focus,
.datepicker-calendar.bootstrap button.datepicker-close:hover, 
.datepicker-calendar.bootstrap button.datepicker-close:focus {
	background-color: #EEE;
	border-color:  #999;
}
.datepicker-calendar.bootstrap table.datepicker-grid:focus {
	outline: none;
}
.datepicker-calendar.bootstrap tr.datepicker-weekdays {
	border: none;
}
.datepicker-calendar.bootstrap th abbr{
	text-decoration: none;
	cursor: default;
}
.datepicker-calendar.bootstrap td,
.datepicker-calendar.bootstrap li {
	border:  none;
	color: #000;
}
.datepicker-calendar.bootstrap .unselectable {
	color: #999;
}
.datepicker-calendar.bootstrap .curTime,
.datepicker-calendar.bootstrap .curDay,
.datepicker-calendar.bootstrap .curMonth,
.datepicker-calendar.bootstrap .curYear {
	background-color: #FFF0C4;
}
.datepicker-calendar.bootstrap .empty {
	border:  none;
	color: #CCC;
}
.datepicker-calendar.bootstrap .selectable:hover,
.datepicker-calendar.bootstrap .selectable.focus {
	background-color: #DDD;
}
.datepicker-calendar.bootstrap .empty:hover {
	background-color: #F9F9F9;
}
.datepicker-calendar.bootstrap button.datepicker-close {
	background-color: #DDD;
	border-color:  #999;
	color: #000;
}
